<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.benjamino.file_explorer</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>05067384-6E56-49D8-AB78-EB539486234B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3526CBD-9533-44D0-B907-2396E49EA18C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>15FBBF33-B6B5-4F9E-90D9-FEA44E70EBC1</key>
		<array/>
		<key>33211128-251E-4DA1-8C88-D702A3A51FED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1ED3525-6033-4FC0-AF0F-A41BB6FC1955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E412FC8-F6FA-4B41-B252-E6A1CDB68287</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A54D7CC9-C124-42E5-92ED-353422580F46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5382FAB0-46E6-45C4-A785-05BDE2215826</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82060526-C2F1-4A82-8371-E30F5F02962E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60467E54-BD15-43F0-8AEA-AFC3EBED3F76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D558942-D1BC-432F-B2AF-E644EBCB2B96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60DF12F8-6642-49C1-9A70-C95A0A11ED08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15FBBF33-B6B5-4F9E-90D9-FEA44E70EBC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D558942-D1BC-432F-B2AF-E644EBCB2B96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90073C20-724E-4812-8FA9-3B149BD7F93B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82060526-C2F1-4A82-8371-E30F5F02962E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60467E54-BD15-43F0-8AEA-AFC3EBED3F76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>75ED48E9-7EBF-423D-AB09-7549234C6FDB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>93B0E81F-F660-4A38-811F-BC457AEAA963</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B583985C-91B1-456E-A642-F0B12B0B9236</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BAF4A400-BC71-4A5B-91EE-E1FBA5274ED4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>85B3786A-AEB0-4D5D-AEE9-01B04127554D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D35D94FE-2691-460B-8804-E1A4A10964E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ABEE2C5A-9722-4A06-B100-6EA0A180EFBC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90073C20-724E-4812-8FA9-3B149BD7F93B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>427BA074-2B87-4174-96BB-442EA014C44B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>85B3786A-AEB0-4D5D-AEE9-01B04127554D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7A174090-D2B8-46C3-8C62-3AF3F78E7EF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ABEE2C5A-9722-4A06-B100-6EA0A180EFBC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3526CBD-9533-44D0-B907-2396E49EA18C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15FBBF33-B6B5-4F9E-90D9-FEA44E70EBC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A54D7CC9-C124-42E5-92ED-353422580F46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9792723-A233-475D-B69E-6023FBFE5803</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD104627-8DF7-43B7-B277-0738C2DA2EB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5382FAB0-46E6-45C4-A785-05BDE2215826</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9792723-A233-475D-B69E-6023FBFE5803</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60DF12F8-6642-49C1-9A70-C95A0A11ED08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>40F21FC1-5AB6-4DD3-BBB7-CDD2D7B59B8F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A3526CBD-9533-44D0-B907-2396E49EA18C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1ED3525-6033-4FC0-AF0F-A41BB6FC1955</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD104627-8DF7-43B7-B277-0738C2DA2EB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>icon</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E412FC8-F6FA-4B41-B252-E6A1CDB68287</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Benjamin Oddou</string>
	<key>description</key>
	<string>🔍 Explore your file system through a Spreadsheet</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>File Explorer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 getfilenames_run.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>15FBBF33-B6B5-4F9E-90D9-FEA44E70EBC1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<true/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>.app</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>{var:trigger1}</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Create a spreadsheet with all filenames of selected elements</string>
				<key>title</key>
				<string>Get filenames in a spreadsheet</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>icon</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>addfilestobuffer</key>
				<false/>
				<key>clearbuffer</key>
				<true/>
				<key>outputtype</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.buffer</string>
			<key>uid</key>
			<string>A54D7CC9-C124-42E5-92ED-353422580F46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_links_list</key>
					<string>{var:_link_no_buffer}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>60DF12F8-6642-49C1-9A70-C95A0A11ED08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>40F21FC1-5AB6-4DD3-BBB7-CDD2D7B59B8F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B9792723-A233-475D-B69E-6023FBFE5803</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_link_no_buffer</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4E412FC8-F6FA-4B41-B252-E6A1CDB68287</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{var:split2}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>427BA074-2B87-4174-96BB-442EA014C44B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 renamefiles_run.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>60467E54-BD15-43F0-8AEA-AFC3EBED3F76</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_reveal</string>
						<key>outputlabel</key>
						<string>reveal</string>
						<key>uid</key>
						<string>85B3786A-AEB0-4D5D-AEE9-01B04127554D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_open</string>
						<key>outputlabel</key>
						<string>open</string>
						<key>uid</key>
						<string>ABEE2C5A-9722-4A06-B100-6EA0A180EFBC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>90073C20-724E-4812-8FA9-3B149BD7F93B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Get filenames in a spreadsheet</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>05067384-6E56-49D8-AB78-EB539486234B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>7D558942-D1BC-432F-B2AF-E644EBCB2B96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_links_list</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A3526CBD-9533-44D0-B907-2396E49EA18C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Applications/Utilities/Console.app</string>
				<key>sourcefile</key>
				<string>{var:split2}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>7A174090-D2B8-46C3-8C62-3AF3F78E7EF6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>rename_files</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>93B0E81F-F660-4A38-811F-BC457AEAA963</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_run</string>
						<key>outputlabel</key>
						<string>run</string>
						<key>uid</key>
						<string>75ED48E9-7EBF-423D-AB09-7549234C6FDB</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_rerun</string>
						<key>outputlabel</key>
						<string>rerun</string>
						<key>uid</key>
						<string>B583985C-91B1-456E-A642-F0B12B0B9236</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_reveal</string>
						<key>outputlabel</key>
						<string>reveal</string>
						<key>uid</key>
						<string>85B3786A-AEB0-4D5D-AEE9-01B04127554D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_open</string>
						<key>outputlabel</key>
						<string>open</string>
						<key>uid</key>
						<string>ABEE2C5A-9722-4A06-B100-6EA0A180EFBC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>82060526-C2F1-4A82-8371-E30F5F02962E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:trigger2}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Elements...</string>
				<key>script</key>
				<string>python3 renamefiles_entry.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Rename files from a Spreadsheet</string>
				<key>title</key>
				<string>Rename Files</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AD104627-8DF7-43B7-B277-0738C2DA2EB7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>rename_files</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>33211128-251E-4DA1-8C88-D702A3A51FED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>5382FAB0-46E6-45C4-A785-05BDE2215826</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_lib</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D1ED3525-6033-4FC0-AF0F-A41BB6FC1955</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{var:split2}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>BAF4A400-BC71-4A5B-91EE-E1FBA5274ED4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{var:split2}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D35D94FE-2691-460B-8804-E1A4A10964E1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># 🎩 Alfred File Explorer

✨ *Explore your file system through a Spreadsheet* ✨

## ✅ Prerequisites

* MacOS.
* Alfred 5. Note that the [Alfred Powerpack](https://www.alfredapp.com/powerpack/) is required to use workflows.
* Any spreadsheet software which can open `.xlsx` files like [Microsoft Excel](https://apps.apple.com/fr/app/microsoft-excel/id462058435?mt=12), [Numbers](https://apps.apple.com/us/app/numbers/id409203825?mt=12), [WPSOffice](https://apps.apple.com/fr/app/wps-office-pdf-docs-sheets/id1468073139?mt=12), [LibreOffice](https://www.libreoffice.org/download/download-libreoffice/)...
* Requires **python 3.6** or above.

## 🧰 Setup the workflow

Install Python 3.6 or above. Check your version with :

`python --version`

## 🧙‍♂️ Invoke the workflow

There is 2 flows in this workflow :

1. The first one allows you to grab filenames. It can be triggered by writing `getfilenames` keyword.
2. The second allows you to rename files based on the data in a selected spreadsheet. You can invoke this flow with the `renamefiles` keyword.

You can edit these triggers (flagged with a `🕹️` symbol) in the user configuration panel.

## 🤖 Usage of the workflow

Go to the dedicated [GitHub repository](https://github.com/BenjaminOddou/alfred-file-explorer) page to check the documentation

© Benjamin Oddou</string>
	<key>uidata</key>
	<dict>
		<key>05067384-6E56-49D8-AB78-EB539486234B</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>15FBBF33-B6B5-4F9E-90D9-FEA44E70EBC1</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>33211128-251E-4DA1-8C88-D702A3A51FED</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>427BA074-2B87-4174-96BB-442EA014C44B</key>
		<dict>
			<key>xpos</key>
			<real>1120</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>4E412FC8-F6FA-4B41-B252-E6A1CDB68287</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>5382FAB0-46E6-45C4-A785-05BDE2215826</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>60467E54-BD15-43F0-8AEA-AFC3EBED3F76</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>60DF12F8-6642-49C1-9A70-C95A0A11ED08</key>
		<dict>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>7A174090-D2B8-46C3-8C62-3AF3F78E7EF6</key>
		<dict>
			<key>xpos</key>
			<real>1120</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>7D558942-D1BC-432F-B2AF-E644EBCB2B96</key>
		<dict>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>82060526-C2F1-4A82-8371-E30F5F02962E</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>90073C20-724E-4812-8FA9-3B149BD7F93B</key>
		<dict>
			<key>xpos</key>
			<real>1015</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>93B0E81F-F660-4A38-811F-BC457AEAA963</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>A3526CBD-9533-44D0-B907-2396E49EA18C</key>
		<dict>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>A54D7CC9-C124-42E5-92ED-353422580F46</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>AD104627-8DF7-43B7-B277-0738C2DA2EB7</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>B9792723-A233-475D-B69E-6023FBFE5803</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>BAF4A400-BC71-4A5B-91EE-E1FBA5274ED4</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>D1ED3525-6033-4FC0-AF0F-A41BB6FC1955</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>D35D94FE-2691-460B-8804-E1A4A10964E1</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>icon</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Library/Application Support/Alfred/Workflow Data/com.benjamino.file_explorer</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>the folder that holds all the generated .xlsx and .log files.</string>
			<key>label</key>
			<string>📂 Data folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>data_folder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>getfilenames</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>value of the first flow trigger.</string>
			<key>label</key>
			<string>🕹️ Trigger 1</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trigger1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>1</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>input a value between 1 and ∞. this allows to list element in nested folders.</string>
			<key>label</key>
			<string>🔍 Depth of the search</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>depth</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>1048575</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>maxiumum number of element per worksheet. can't be higher than 1 048 575.</string>
			<key>label</key>
			<string>⚡Worksheet limit</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>max_rows</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>reject files that matches regex expression. let it empty if you want to include all files. here is a good way to exclude common hidden files : ^\.|^\~|desktop\.ini</string>
			<key>label</key>
			<string>🚫 Reject files</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>reject_regex</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>renamefiles</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>value of the second trigger flow.</string>
			<key>label</key>
			<string>🕹️ Trigger 2</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trigger2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>if this is desactivated, you'll have the possibility to modify file extensions. this can be useful if you want to rename all your .jpg into .JPEG for example. use it at your own risks.</string>
			<key>label</key>
			<string>🛡️ Safe renaming</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>safe_guard</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>if ticked, new names (in column D), will be remaned backward to original names.</string>
			<key>label</key>
			<string>⏳ Reverse names</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>reverse_dir</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>_open</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Open log file 🟢</string>
						<string>_open</string>
					</array>
					<array>
						<string>Reveal log file in finder 🔵</string>
						<string>_reveal</string>
					</array>
					<array>
						<string>Display a notification 🟡</string>
						<string>_notif</string>
					</array>
					<array>
						<string>Do nothing 🔴</string>
						<string></string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>choose output action.</string>
			<key>label</key>
			<string>🔫 Workflow action</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>workflow_action</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Submarine</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Mute 🔕</string>
						<string></string>
					</array>
					<array>
						<string>Submarine 🤿</string>
						<string>Submarine</string>
					</array>
					<array>
						<string>Pop 🎉</string>
						<string>Pop</string>
					</array>
					<array>
						<string>Ping ✨</string>
						<string>Ping</string>
					</array>
					<array>
						<string>Purr 🐯</string>
						<string>Purr</string>
					</array>
					<array>
						<string>Hero ⚔️</string>
						<string>Hero</string>
					</array>
					<array>
						<string>Funk 🕺</string>
						<string>Funk</string>
					</array>
					<array>
						<string>Basso 🎧</string>
						<string>Basso</string>
					</array>
					<array>
						<string>Sosumi 📻</string>
						<string>Sosumi</string>
					</array>
					<array>
						<string>Glass 🍸</string>
						<string>Glass</string>
					</array>
					<array>
						<string>Blow 💨</string>
						<string>Blow</string>
					</array>
					<array>
						<string>Bottle 🍼</string>
						<string>Bottle</string>
					</array>
					<array>
						<string>Frog 🐸</string>
						<string>Frog</string>
					</array>
					<array>
						<string>Tink 🛎️</string>
						<string>Tink</string>
					</array>
					<array>
						<string>Morse ♨️</string>
						<string>Morse</string>
					</array>
					<array>
						<string>Classic 😃</string>
						<string>default</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>workflow notification sound.</string>
			<key>label</key>
			<string>🎷 Notification sound</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>sound</string>
		</dict>
	</array>
	<key>version</key>
	<string>2.3.3</string>
	<key>webaddress</key>
	<string>https://github.com/BenjaminOddou/alfred-file-explorer</string>
</dict>
</plist>
